@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Suez+One&display=swap');

@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf");
  font-family: 'Polar';
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #000;
}

/* --------------------------------------- */

header {
  display: flex;
  justify-content:right;
  align-items:flex-end;
  padding: 1rem 5% 1rem 1rem;
  background: rgb(209, 211, 245);
  /* background: rgb(217,255,207);
  background: linear-gradient(128deg, rgba(217,255,207,0.7519958667060574) 0%, rgba(249,175,196,0.4186625333727241) 27%, rgba(255,209,241,0.6483544101234244) 42%, rgba(202,233,255,0.737990264465161) 63%, rgba(255,253,205,0.8052171552214635) 82%, rgba(228,179,255,1) 100%); */
font-size: 250%;
  font-family: 'Suez One', serif;
}

.nav__links {
  list-style: none;
}

.nav__links li{
  display: inline-block;
  padding: 1rem;
}

.nav__links li a{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: rgb(75, 70, 70);
  text-shadow: 1px 1px 0px rgba(2, 1, 2, 0.507);
}

.nav__links li a:hover{
  color: rgb(235, 93, 211);
}

.logo__link {
  color: rgb(253, 91, 91) !important;
}

.logo__red {
  /* display:inline-block; */
  position: absolute;
  align-content: left;
  padding: 10px 0px 10px 15px;
  /* width: 10rem; */
  z-index: 600;
}


/* --------------------------------------- */

@media all and (max-width: 600px) {
  header {
    font-size: 120%;
    /* justify-content:right;
    align-items: right; */
  }

  .logo__red {
    width: 8rem;
  }

}

/* --------------------------------------- */

.slider-container {
  position: relative;
  height: 100%;
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  transition: transform .5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  transition: transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide.active .slide__text {
  opacity: 1;
  transform: translateX(0%);
}

.slide.active .slide__text__init {
  opacity: 1;
  transform: translateX(0%);
}


.slide__bg {
  position: absolute;
  top: -30px;
  left: 0%;
  width: 100%;
  height: 100%;
  background-size:cover;
  opacity: 1;
}

.slide:nth-child(1) {
  left: 0%;
}
.slide:nth-child(1) .slide__bg {
  left: 0%;
  background-size: cover;
  background-color: rgb(173, 23, 148);
}

/* 2----------------- */

.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: 100%;
  background-image: url("bg-convocatoria.png");
}
.slide:nth-child(2) .slide__text {
  background-color: rgba(173, 23, 148, 0.9);
}

/* 3----------------- */

.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: 200%;
  background-image: url("bg-contacto.png");
}
.slide:nth-child(3) .slide__text {
  background-color: rgba(173, 23, 148, 0.9);
}

/* --------------------------------------- */

.slide__text {
  width: 100%;
  height: 100%;
  text-align: center;
  transform: translateX(-150%);
  transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
  padding: 1.4rem;
}

/* --------------------------------------- */

#remark {
  font-size: 7vw;
  display: block;
  /* text-align: center; */
  position: relitive;
  color: rgba(255, 255, 255, 0.993);
  padding: 1rem;
  font-family: 'Suez One', serif;
  text-shadow: -3px -3px 0px black, 0px 0px 5px black;
}

#mensaje {
  position: relative;
  display: grid;
  text-align: left;
  text-justify:auto;
  font-size:3.5vmin;
  /* text-shadow: 3px 3px #00000015; */
  padding: 2rem;
}

::selection {
  color: rgb(188, 0, 245);
  background-color: rgba(255, 0, 0, 0);
  text-shadow: -5px -5px 3px black, 0px 0px 5px black;
}


#aviso {
  position: absolute;
  padding-top: 4rem;
  padding-left: 50px;
  width: 80%;
  color: rgb(255, 255, 255);
}

#link__styled {
  color: aqua;
  text-decoration: none;
  font-size:4vmin;
}

#link__styled:hover {
  color: rgba(0, 255, 255, 0.733);
  text-shadow: 0px 0px 7px #222121;
}

@keyframes opacar {
  from {
    opacity: .3;
  }
  to {
    opacity: .4;
  }
}