@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Suez+One&display=swap');

@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf");
  font-family: 'Polar';
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #000;
}

/* --------------------------------------- */

header {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 0;
  background: rgb(0, 0, 0);
  font-size: 2rem;
  font-family: 'Suez One', serif;
}

.nav__links {
  list-style: none;
}

.nav__links li{
  display: inline-block;
  padding: 1rem;
}

.nav__links li a{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: rgb(248, 248, 248);
}

.nav__links li a:hover{
  color: rgb(91, 163, 235);
}

.logo__link {
  color: rgba(247, 51, 51, 0.884) !important;
}

/* --------------------------------------- */

.slider-container {
  position: relative;
  height: 100%;
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  transition: transform .5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  transition: transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide.active .slide__text {
  opacity: 1;
  transform: translateX(0%);
}
.slide__bg {
  position: absolute;
  top: -30px;
  left: 0%;
  width: 100%;
  height: 100%;
  background-size:cover;
  opacity: 1;
}

/* 1--------------------------------------- */

.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  display: grid;
  align-self: center;
  background-image: url("bg-bienvenida.png");
  background-size: 78%;
  background-repeat: no-repeat;
  background-position:top;
}

/* 2----------------- */

.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: 100%;
  background-image: url("bg-bienvenida.png");
  background-size: cover;
  animation: opacar 2s infinite alternate;
}
.slide:nth-child(2) .slide__text {
  background-color: rgba(214, 108, 247, 0.8);
  background: rgb(2,0,36);
  background: linear-gradient(34deg, rgba(2, 0, 36, 0.534) 0%, rgba(26, 28, 160, 0.555) 55%, rgba(1, 109, 131, 0.582) 100%);
  
}

/* 3----------------- */

.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: 200%;
  background-image: url("bg-evento.png");
  opacity: .3;
  /* animation: opacar 2s infinite alternate; */
}
.slide:nth-child(3) .slide__text {
  background: rgb(2,0,36);
background: linear-gradient(34deg, rgba(2, 0, 36, 0.534) 0%, rgba(26, 28, 160, 0.555) 55%, rgba(1, 109, 131, 0.582) 100%);

}

/* 4----------------- */

.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: 300%;
  background-image: url("bg-convocatoria.png");
}
.slide:nth-child(4) .slide__text {
  background-color: rgba(214, 108, 247, 0.8);
}

/* 5----------------- */

.slide:nth-child(5) {
  left: 400%;
}
.slide:nth-child(5) .slide__bg {
  left: 400%;
  background-image: url("bg-contacto.png");
}
.slide:nth-child(5) .slide__text {
  background-color: rgba(214, 108, 247, 0.8);
}

/* --------------------------------------- */

.slide__text {
  width: 100%;
  height: 100%;
  text-align: center;
  transform: translateX(-150%);
  transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
  padding: 1.4rem;
}

/* --------------------------------------- */

#remark {
  font-size: 7vw;
  display: block;
  /* text-align: center; */
  position: relitive;
  color: rgba(255, 255, 255, 0.993);
  padding: 1rem;
  font-family: 'Suez One', serif;
}

#mensaje {
  position: relative;
  display: grid;
  text-align: left;
  text-justify:auto;
  font-size:3.5vmin;
  /* text-shadow: 3px 3px #00000015; */
  padding: 2rem;
}

#aviso {
  position: absolute;
  padding-top: 4rem;
  padding-left: 50px;
  width: 80%;
  color: rgb(255, 255, 255);
}

@keyframes opacar {
  from {
    opacity: .3;
  }
  to {
    opacity: .4;
  }
}